@import url('1140.css');
@import url('http://fonts.googleapis.com/css?family=PT+Mono');


#slider{width:100%;height:600px;background-color:#111;overflow:hidden;}
#mask{ width:500%;height:100%;background-color:#111;}

.item{width:20%;height:100%;float:left;background-color:#111;}

.slide{width:20%;height: 100%;float:left;background-color:#111;}

.content{
width:100%;
height:310px;
top:10%;
margin:0 auto;
background-color:#fff;
position:relative;
}

.clear{clear:both;}

#one, #two, #three, #four, #fifth {
overflow: visible;
position: relative;
}

.navig {
height:120px;
background-color: #111;
}

/* content */
.row { overflow:visible }

#one #grimace_wrapper { position:relative; top: -30px;}
#two #chart { position:relative; left:-50px;top:-170px; }
#four img {width:70%; position:relative; left:10px; top:-130px;}
#theorem img { padding-top :90px }

/* visage slider */
#grimace_wrapper {
	display:block;
	width:360px;
	height:360px;
}
#grimace_wheel {
	position:absolute;
	background:url('../img/about/wheel.gif') center center no-repeat;
	width:360px;
	height:360px;
}
#buttons {
	display:block;
	list-style-type:none;
	padding:0;
}
#buttons li {
	margin:1.5em;
}


/*jquery sliders*/

.ui-slider {
	width: 300px;
	height: 5px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	top:5px;
	-moz-border-radius: 7px;
	border-radius: 7px;

}

.ui-slider-handle {
	position: absolute;
	z-index: 1;
	height: 15px;
	width: 10px;
	top: -2px;
	left: 0px;
	background:#e2e2e2;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.ui-slider-handle-active {
	border: 1px dotted black;
}

.ui-slider-disabled .ui-slider-handle {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.ui-slider-range {
	position: absolute;
	background: #50A029;
	opacity: 0.3;
	filter: alpha(opacity=30);
	width: 100%; height: 100%;
}

.ui-slider, .ui-slider-1 {
	background:#999;
}

.ui-slider-2 {
	background:#ddd;
}

.slider {
	width:100px;
	margin-left:60px;
}
.slidercaption {
	float:left;
	font-size:80%;
}


/* forms */

input.feedburn {
font-size:16px;
padding:12px 8px;
border:solid 1px #bbb;
width:200px;
margin:2px 0 20px 10px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.newsletter p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #ddd;
padding-bottom:10px;
}

