<h2>训练</h2>
<hr/>
<h3>正文</h3>
<p><%= text %></p>
<hr/>
<% if (type) { %>
    <h3><%= type %></h3>
    <table><tr>
        <% for (ind in options) { var opt = options[ind];%>
            <td><%= opt %></td>
        <% } %>
    </tr></table>
<% } else { %>
    <h3>情感</h3>
    <table>
        <% for (ind in types) { var type = types[ind];%>
            <tr>
                <td><%= type %></td>
                <% for (ind2 in options) { var opt = options[ind];%>
                    <td><%= opt %></td>
                <% } %>
            </tr>
        <% } %>
    </table>
<% } %>

