<section>
<h3>训练</h3>
<hr/>
<p id="text-<%= id%>"><%= text %></p>
<hr/>
<% if (type) { %>
    <h6><%= type %></h6>
    <table>
        <tr>
        <% for (ind in options) { var opt = options[ind];%>
            <td><small><%= opt %></small></td>
        <% } %>
        </tr>
        <tr>
        <% for (ind in options) { var opt = options[ind];%>
            <td><span class="opt" id="opt-<%= type %>-<%= opt %>-<%= id%>">❍</span></td>
        <% } %>
        </tr>
    </table>
<% } else { %>
    <% var ind = Math.floor(types.length * Math.random()), type = types[ind];%>
    <h6>情感：<%= type %></h6>
    <table>
            <tr>
                <% for (ind2 in options) { var opt = options[ind2];%>
                    <td><small><span><%= opt %></span></small></td>
                <% } %>
            </tr>
            <tr>
                <% for (ind2 in options) { var opt = options[ind2];%>
                    <td><small><span class="opt" id="opt-<%= type %>-<%= opt %>-<%= id%>">❍</span></small></td>
                <% } %>
            </tr>
    </table>
<% } %>
</section>
<section class="last">
</section>

